body {
	background: #F8F8F8;
	padding-left: 50px;
	font:15px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	/*font-weight: bold;*/
}

h1 span {
	font-family: STKaiti;
	font-weight: normal;
	font-size: 0.8em;
	color: #888888;
}

h3 {
	margin-bottom: 20px;
}

.content {
}

#avatar {
	width: 200px;
	border-radius: 8px;
}

.icon {
	height: 28px;
	margin-right: 5px;
}

ul {
	list-style: circle;
	padding-left: 20px;
}

ul.project li {
	margin-top: 10px;
}

.pubtitle {
	font-size: 17px;
}

.author {
	font-style: italic;
}

.bs-callout {
    padding: 10px 20px 10px 20px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 5px;
}

.bs-callout-info {
    border-left-color: #1b809e !important;
}

.bs-callout-info:hover {
	background-color: #eef5f7 !important;
}
