h1 span {
	font-family: STKaiti;
	font-size: 0.8em;
	color: #888888;
}

.content {
	width: 800px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#avatar {
	float: right;
	margin-top: -50px;
	margin-right: 20px;
	width: 200px;
	border-radius: 8px;
}

ul {
	list-style: circle;
	padding-left: 20px;
}

ul.pub {
	list-style: none;
	padding-left: 20px;
	margin-bottom: 0;
}

ul.pub li:first-child {
	list-style: circle;
	font-weight: bold;
}
